@font-face {
    font-family: "BerkshireSwash-Regular.ttf";
    src: url(../font/BerkshireSwash-Regular.ttf) format("truetype");
    } 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(255, 255, 255) ;
    font-family:'serif''verdana';
}
a{
    text-decoration: none;
}
.aside{
    background-color:rgba(226, 212, 212, 0.842);
    flex:1 1 60%;
    border-left:solid 2px rgba(8, 4, 4, 0.336);
    border-bottom: solid 2px rgba(8, 4, 4, 0.336);
} 
.aside h3{
    text-align: center;
    color:rgba(192, 204, 19, 0.623);
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    transition:all 1s;
}
.aside h3:hover{
    font-size:20px;
}
.aside p{
    text-align: center;
    padding-top: 5px;
    color:rgba(175, 175, 19, 0.918);
    font-size: 12px;
}
.centrar-titulo{
    text-align: center;   
}    
.correo{
padding-bottom: 10px;
}  
.card
img{
   border-top-style:groove;
   border-right-style:groove;
}
.card-body{
    background-color: #9e8faf;
}
.contacto
p
{
   justify-content: center;
} 
.centrar-titulo
p{
    padding-top: 10px;
    color: #3a0844;
    font-weight: bolder;
}
#carouselExampleIndicators
img{
   border-top:2px solid rgb(83, 38, 83);
   border-right:2px solid rgb(83, 38, 83);
   border-left:2px solid rgb(83, 38, 83);
 }
#carouselExampleIndicators
img{
    opacity: 0.9;
    border-style:double;
    border-radius: 10px;
}
.descripcion-c-f{
    padding-top: 5px;
    font-weight: bold;
}
.descripcion-c-f{
    text-align:justify;
    padding-left: 10px;
    color: #070306;
}
.d-modalidad{
    padding-top: 10px;
    padding-left: 10px;
    border-style:outset;   
}
.footer{
    background-image:linear-gradient(to right,violet,purple,black);
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top:1px;
    padding-top:15px;
    border-top:solid 2px rgba(90, 62, 88, 0.678);
    font-family:"BerkshireSwash-Regular.ttf";
} 
h2{
    font-family:"BerkshireSwash-Regular.ttf";
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    padding-bottom: 10px;
    padding-top: 15px;
    align-items: center;
}
h3{
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 18px;
    padding-top: 15px;
    color:rgba(236, 231, 248, 0.884);
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}
h4{
    text-align: center;
    background-image:linear-gradient(to right,rgba(41, 9, 41, 0.747),rgba(94, 80, 94, 0.767),black);
    color: whitesmoke;
}
header{
    background:url(../img/galaxia.jpg);
    background-size: cover;
    background-attachment:none;
    border:bottom 1px rgb(59, 8, 126);
}
.ir-formaciones-cursos
p{
    color:rgb(168, 152, 168);    
}
.ir-formaciones-cursos
p:hover{
    color:rgb(245, 241, 13);
}
.img-nat{
    border-radius:15px;
    border-style:double;
    opacity:0.9;
    padding-bottom:1px;
}
.img-aside{
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius:50%;
}
.img-c-f{
    border-bottom: 10px;
    border-radius:5%;
    border-style:ridge;
}
li p{
    color: rgba(82, 23, 97, 0.788);
} 
.modalidad{
    font-size: 15px;
    text-align:justify;
}
.navbar{
    background-image:linear-gradient(to left,hsla(300, 16%, 84%, 0.973),#850a85fd,hsla(300, 16%, 84%, 0.973));
    font-family:"BerkshireSwash-Regular.ttf";
}
.navbar-nav
.nav-item
.nav-link{
    color:#fff;
    font-size: 15px;
    text-transform: uppercase;            
    letter-spacing: 3px;
    text-align: inline;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}
.navbar-nav
.nav-item
.nav-link:hover{
    color:rgba(249, 253, 0, 0.918);
}
.nat-img:hover{    
    filter: sepia(60%);
}
p{
    color: rgb(5, 5, 2);
    font-size: 20px;
    text-align:justify center;
    font-weight: bold;
}
.publicidad *>{
    text-align: center;
} 
.pie{    
    text-align: center;
}
.pie a{
    font-size:30px;
    padding: 0 10px;
    letter-spacing: 2px;
}
.pie a:hover{
    color: rgba(238, 255, 6, 0.938);
}
.pie p{
    color: rgba(146, 146, 129, 0.918);
    font-size: 15px;
}
.publicidad{
    background-color: rgb(8, 2, 6);
    border-bottom: solid 2px rgba(197, 144, 188, 0.829);
    padding-left: 10px;
    padding-right: 10px;
    border: 5px outset rgba(44, 12, 70, 0.75);   
    position: relative;
    animation: myfirst 4s linear 2s infinite alternate;
}  
@keyframes myfirst {
    50%   {background-color:rgba(8, 3, 7, 0.952); left:0px; top:0px;}
    100%  {background-color:rgba(17, 1, 19, 0.788); left:0px; top:0px;}
}
.principio{
    color: rgba(251, 252, 244, 0.966);
    text-align:center;
    font-size: 15px;
    font-weight: 300px;
    line-height: 1.6;
    font-family:"BerkshireSwash-Regular.ttf";
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
 }
 .principio
 .titulo-principal{
     font-size: 60px;
 }
 .principio
 img{
     border-radius: 40%;
}
.social{
    background-color: brown;
    flex: 1 1 auto;
}
.titulo-curso{
    text-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px
     rgba(255,255,255,0.3), -35px 6px 4px rgba(106,24,138,0);
    color: #E3E6FB;
    background: #6A13CF;
}
.titulo-2{
    color:#3a0844;
    font-weight: bold;
    padding-bottom: 10px;
}









  